# --- Local Development Secrets ---
.env

# --- Build and Target Folders ---
target/
.mvn/wrapper/maven-wrapper.jar
build/
*.class

# --- IDE Settings (VS Code, IntelliJ, STS) ---
.vscode/
.idea/
*.iws
*.iml
*.ipr
.classpath
.project
.settings
.factorypath

# --- Package and Log Files ---
*.jar
*.war
*.zip
*.tar.gz
*.log
hs_err_pid*

# --- Project Specific ---
HELP.md